
<!-- String Interpolation -->

<!-- <h1>{{ title }}</h1>
<p>{{ 60+5 }}</p>
<img [src]="imgUrl" alt="jellyfish">

<br> -->

<!-- Property Binding -->
<!-- 
<button [disabled]="isDisabled">Glow in the dark</button>
<br>
<button disabled="{{isDisabled}}">dark</button>
<br>

<!-- Class Binding -->
<!-- <button [class.active]="isActive" [class.no-active]="!isActive"> Aurelia</button>
<br>
<br> -->
 <!-- Style Binding -->
<!-- <button [style.background-color] = "isActive?'red' : 'purple'">Medusa</button>
 
<button [class.j-fish] = "jellyName == 'neptune'" > Jeeelllyy </button> -->

<!-- Event Binding -->
<!-- <button (click)="buttonClick()">I speak jellyfrench</button>

 <button (mouseover)="buttonClick()">jellyFinnish</button>
<br>
<input type="text" (keyup)="textEnter($event)" id="">
<br> -->

<!-- Event Filtering and Template Variables -->
<!-- <input type="text" (keyup.enter) = "keyEnter(user)" #user id="userInput" >  -->


<!-- <input type="text" [value]="userName" #username (keyup.enter) = "updateEnter(username)">
<br>
<input type="text" [(ngModel)]="userName" >
<h2>{{userName}}</h2>
<br>
<br> <br>
<input type="text" [value] = "textValue" (keyup.enter)= "onKeyUp()">

 -->


<!-- Directives -->


<!-- <h2 *ngIf="isLoggedIn">{{userName}}</h2>

@if (isLoggedOut){
<h3>{{userName}}</h3>
}
@else{
<h4>User is not Logged In</h4>
} -->

<!-- <button (click) = "logsIn()"> Log In</button>

@if (logInCount>3){
  hideButton()
}
 
<ng-template #join>
    <button> Join Now</button> 
</ng-template>

<div  [ngTemplateOutlet]="join">Sidebar </div>

<div [ngTemplateOutlet]="join">Hero</div>

<div [ngTemplateOutlet]="join">Footer</div> -->

<!-- @for(rate of rates; track rate){
    <p>{{rate}}</p>
}
<br>
<p *ngFor="let rate of rates">
    {{rate}}
</p> -->
<!-- <ul>
    
@for(rate of rates; track rate){

    <li>{{rate}}</li>

}
</ul  > -->

<!-- 
<app-header [title] ="'Add New'"></app-header> -->

<!-- <h2 class="text-red-800 text-3xl">Angular App</h2>


<form action="">

    <label for="first-name">First Name</label>
    <input type="text" >
</form> -->


<app-navbar></app-navbar>
<app-generator></app-generator>

<router-outlet />
  